strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted

//registry.npmjs.org/:_authToken='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'
registry=https://registry.npmjs.org/
always-auth=true
