strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
always-auth=true
registry=https://registry.npmjs.org
//https://registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
@react-helper:registry=https://registry.npmjs.org